body {
    margin: 0;
}
.container{
    width: 1280px;
    margin: 0 auto;
    font-family: "Arial", sans-serif;
}
.header{
    width: 100%;
    min-height: 323px;
    padding: 50px;
    box-sizing: border-box;
    background-color: #445161;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.header-title{
    margin: 0 0 30px 0;
    font-size: 60px;
    font-weight: 400;
    line-height: 1; /* без этой строчки более пиксель перфект к макету,
                    но с ней блок не выходит за нижнюю границу фото*/
}
.header-wrapper{
    margin: 0;
    padding: 0;
    float: left;
    color: #ffffff;
}
.header-list{
    padding-left: 25px;
    list-style-type: none;
    font-size: 20px;
    line-height: 16px;
}
.header-list-item{
    position: relative;
    padding-left: 10px;
}
.header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    position: absolute;
    left: -25px;
    background-image: url('pics/check_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.header-photo{
    display: block;
    background-color:  #ffffff;
    float: right;
}
.about-wrapper{

}